<div class="alert alert-info text-center"role="alert">
 <h1>Play the Game!!</h1>
</div>
<div id=container>
    <div class="row">
        <div class="col been-played">
        {{#each beenPlayed}}
        <p>{{this.name}}</p>
          {{/each}}
        </div>
        <div class="col-5">
                <form method="POST" action="/api/gamesNew">
                    <div class="form-group">
                    <label for="enter-game"><h3>Game Name:</h3></label>
                    <input type="text" class="form-control" id="enter-game" name="name" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-dark mx-auto" style="width: 200px;" id="submit">Submit</button>
                </form>
        </div>
    <div class="col">
            <div>Play this game!</div>
            {{#each games}}
                <p class="has-played">{{this.name}}</p>
                <button type="submit" class="btn btn-info played">Played it!</button>
            {{/each}}
    </div>
</div>
</div>
<script>
    //$("#submit").on("click", function(event) {
       //event.preventDefault();//
        //var addGame = {
           // name: $("#enter-game").val().trim()
       // };


$(".played").on('click', function (event){
	$(this).hide();
    //$(".has-played").hide();
     event.preventDefault();
    });

$(".has-played").on('click', function (event){
	$(this).hide();
     event.preventDefault();
    });


//});
</script>

