<div id=container>
     <form>
        <div class="form-group">
            <label for="enter-game">Game Name:</label>
            <input type="text" class="form-control" id="enter-game" aria-describedby="emailHelp">
        </div>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>
    <div class="body">
        {{#each newGame}}
        <p>Name: {{this.name}}</p>
          {{/each}}
    </div>
</div>
<script>
    $("#submit").on("click", function(event) {
        event.preventDefault();
        var addGame = {
            name: $("#enter-game").val().trim()
        };
    $.post("/api/gamesPlayed", addGame).done
    (function(data) {
        console.log(data)
    $("#enter-game").val("");
    });
});
</script>